<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Servicio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="../static/js/detalle_servicio.js" defer></script>
</head>
<body>
    <main>
        <section id="agranda-imagen" hidden="true">
            <button id="cerrar-imagen">Cerrar</button>
            
        </section>
        <section id="detalle-servicio">

        </section>

        <nav>
            <button id="volver-listado">Volver al listado</button>
            <button id="volver-portada">Volver al inicio</button>
        </nav>
    </main>
</body>
</html>